{% extends 'divisi_app/base.html' %}

{% block content %}

    <ul class="catalog">
        
        {% for p in Products %}
            {% for i in photos %}
            
                {% if p.pk == i.product.pk %}
                <img src="{{ i.photo.url }}" height="100", width="100">
                {% endif %}
            {% endfor %}
            <li class="product"> <a href="{{ p.get_absolute_url }}">{{p.name}}</a> </li>
            {{ p.cost }}
            {{ p.description }}
            {{ p.category }}
            {{ p.available }}
        {% endfor %}


    </ul>

{% endblock content %}